{% extends "layout-front.html.twig" %}

{% block title "Blog" %}

{% block body %}
	{% for post in posts %}
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-preview">
					<a href="#">
						<h2 class="post-title">
							{{post.title}}
						</h2>
						<p><img src="{{post.picture}}" alt="{{post.title}}"></p>
					</a>
					<p class="post-meta">Ecrit par
						{{post.user_id}},
						{{post.created_at|ago}}</p>
				</div>
				<hr>
			</div>
		</div>
	{% endfor %}
{% endblock body %}
