{% extends "layout-front.html.twig" %}

{% block title item.title %}

{% block background '../img/post.jpg'%}

{% block heading %}
	<h2>{{item.title}}</h2>
	<span class="subheading">{{item.abstract}}</span>
{% endblock %}
{% block body %}
	<div class="row text-justify">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="post-preview">
				<img class="img-fluid" src="{{item.picture}}" alt="{{item.title}}">
				<p class="post-meta text-right">Ecrit par
					{{item.autorUsername}},
					{{item.createdAt|ago}}</p>
				<hr>
				<p>{{item.content|nl2br}}</p>
			</div>
		</div>
	</div>
{% endblock body %}
